#articleContent{
	
}

#font_size_up_button{
	float:right;
	border:1px solid;
	padding:3px;
	margin-left:5px;
	margin-top:3px;
}

#font_size_down_button{
	float:right;
	border:1px solid;
	padding:3px;
	margin-top:3px;
}

#mainArticleTitle #title{              /* 기사 제목 */
 	position: absolute;
 	left: 556px;
	top: 225px;
	background-color: #6e6e6e;
	opacity: 0.6;	
	width: 424px;
	height: 43px;
	font-weight: bold;
	font-size: 1.5em;
 	text-align: center;
 	color: white;
 	margin-top: 8px;
	margin-bottom: 8px;
}

#mainArticle img{     /* 기사 본문에 포함되어 있는 모든 이미지 */
	margin:0pt auto;
	display:block;
	width:80%;
	height:400px;
}

#mainArticle{       /* 기사 본문 */

}

#mainArticleTitle img{  /* 기사에 이미지가 있을 경우 제목과 겹치게 나오는 이미지 */
	width:424px;
	height:245px;
	margin: 0pt auto;
	display:block;
}

#mainArticleTitle hr{
	height:2px;
	width:424px;
	background-color:#343434;
}