/*
타이틀 
*/
.mainTitle{
	border-bottom : 0px !important;
}

/*메인 버튼 */

.btnSearch {
	background-size: 100% 100%;
	background-image: url(../images/main/btn_search.png);
	margin: 3px;
	width: 193px;
	height: 196px;
	border : 0px;
	text-align : 'center';
	position : relative;
}

.btnRss {
	background-size: 100% 100%;
	background-image: url(../images/main/btn_addrss.png);
	margin: 3px;
	width: 223px;
	height: 53px;
	border : 0px;
	text-align : 'center';
	position : relative;
}

.btnKeyword {
	background-size: 100% 100%;
	background-image: url(../images/main/btn_mykeyword.png);
	margin: 3px;
	width: 117px;
	height: 137px;
	border : 0px;
	text-align : 'center';
	position : relative;
}

.btnScrap {
	background-size: 100% 100%;
	background-image: url(../images/main/btn_myscrap.png);
	margin: 3px;
	width: 100px;
	height: 137px;
	border : 0px;
	text-align : 'center';
	position : relative;
}


/*리스트 부분 */
.main-list{
	padding-top : 8px;
	height : 472px;
}
.main-list-item {
	width: 100%;
}

.main-list-img {
	margin-left : 8px;
	width : 58px;
	height : 48px;
}
.main-list-text {
	text-align : left;
	margin-left : 8px;
}

.list-title{
	background : #f0f0f0;
	margin-top : 8px;
	height : 31px;
	align : middle;
	border-top : 1px solid;
	border-bottom : 1px solid;
	padding-left : 8px;
	padding-top : 3px;
}
.main-list-badge {
	text-align : center;
	margin-right : 8px;	
	font-size: 1.1em;
	color : yellow;
	height : 25px;
	width : 25px;
	-webkit-border-radius: 1.0em;
	border-radius: 1.5em;	
	background : #343434;
}

/*Add Rss*/

.rss-item-img {
	background: -webkit-gradient(linear, left top, left bottom, from(#820202), to(#b30606));	
	margin: 8px;
	width: 208px;
	height: 108px;
	float: left;
	border : 1px solid;
}
.rss-text-box{
	height : 32px;
	width : 208px;
	background : #222;
	opacity: 0.9;	
	position: relative;
	bottom: -76px;
	padding : 3px;
	font-size: 0.8em;
	color : #fff;	
	
}
.rss-text-box-img{
	position: relative;
	bottom: 17px;
	padding : 3px;
	text-align : right;	
	
}

.rss-list-items{
	height : 472px;
	margin : 0px;
}

/*rss 추가 */
.rss-add-panel{
	background : #f0f0f0;
	height : 53px;
	margin : 0px 8px !important;
	text-align : cetner;
}
.rss-add-text{
	font-size : 0.8em;
	width : 400px;
	height : 27px;
	margin : 6px;
	
}
.rss-add-botton{
	width : 56px;
	height : 27px;
	margin : 6px;
	background-size: 100% 100%;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAABqUlEQVRoBe2awWnDUBBE843B4NxcQSAFOC4lJeTkoxtJDykgvRhcgCFNJCFgIs+ChEHSJX93YT6ZD4ssmR3NztNFH5Wu6+6iVynlEZpbp+4J3s5OjWm7DRxZuMMCdUB9oyzNmrJe01hEejMtM5exIh6bCI3JbFkDT27EckEDs5DI8iHCWcmy6IowC4ksHyKclSyLrgizkMjyIcJZybLoijALiSwfIpyVLItuOGFso/xiuEvAgJdeK0DqJrHEhtsTTh9ul9y/ChR2KE+Y1ruDt2ccI7d6PszcK+oFFblWELt3Cn6i/8epMW5/W+LKGrUZ/0NwboF5QxuPsfY8dmOxJs41cBOYHCZF2BFeE60i3AQmh0kRdoTXRKsIN4HJYVKEHeE10frvCNvr4RH1HojH3rGHr3hqA7VdkxPKvuKJ3AA4hn7BM3xxA5N71Fdv1gz/tax3P+hFHmsJwM/8wraMadqOh5GuXda76rVqNWb7wgeevQvRRQ1MBCPFiginxEokKsJEMFKsiHBKrESiIkwEI8WKCKfESiQqwkQwUqyIcEqsRKIiTAQjxcoVrP83/9czD9EAAAAASUVORK5CYII=');

}

/**/


/*공통 부분 */
.text-red{
	color : #9e0000;
}
.line-red{
	width : 480px;
	height : 8px;
	background : #9e0000;
	text-align : 'center';
	margin : 0px 8px !important;	
}
.panel-content{
	margin : 8px 28px 28px 8px !important;
	padding-top : 8px;
	padding-bottom : 8px;
	border-top : 2px solid;
	width : 480px;
	height : 472px;
	text-align : cetner;
}