.mainTitle {
	border-bottom: 0px !important;
	font-size: 1.8em;
	margin-top: 10px;
	height: 60px;
	text-align: center;
}

#mainContentId>div {
	width: 100%;
	height: 100%;
}

/*content area */
.panel-content {
	border-top: 1px solid #343434;
	width: 96%;
	height: 100%;
	margin-left: 2%;
	margin-right: 2%;
}

.panel-content2 {
	border-top: 8px solid #9e0000;
	width: 100%;
	height: 100%;
}

.mainIconPanel {
	height: 35%;
	padding: 2%;
}

.mainIconPanel2 {
	width: 100%;
}

.mainPanel {
	width:100%;
}
/*main button */
.btnSearch {
	background-size: 100% 100%;
	background-image: url(../images/main/btn_search.png);
	width: 43%;
	height: auto;
}

.btnRss {
	background-size: 100% 100%;
	background-image: url(../images/main/btn_addrss.png);
	width: 55%;
	margin-top: 2%;
	margin-left: 2%;
}

.scrapKeywordPanel {
	width: 55%;
	margin-left: 2%;
}

.btnKeyword {
	background-size: 100% 100%;
	background-image: url(../images/main/btn_mykeyword.png);
	width: 54%;
	height: auto;
	margin-left: 3%;
}

.btnScrap {
	background-size: 100% 100%;
	background-image: url(../images/main/btn_myscrap.png);
	width: 43%;
	height: auto;
}

.btnRefresh {
	background-size: 100% 100%;
	background-image: url(../images/main/ic_refresh.png);
	width: 22px;
	height: 24px;
	border: 1px;
	position: relative;
	left: 95px;
}

/*main list */
.list-title {
	background: #f0f0f0;
	width: 100%;
	height: 31px;
	border-top: 1px solid #343434;
	border-bottom: 1px solid;
	padding-left: 8px;
	padding-top: 3px;
	font-size: 1.2em !important;
	height: 31px;
}

.list-title-text {
	width: 100%;
}

.main-list {
	width: 100%;
}

.main-list-item {
	width: 100%;
	height: 62px;
}

.main-list-img-td img {
	height: 30%;
}

.main-list-img-td {
	padding-left: 2%;
	width: 18%;
	height: auto;
}

.main-list-text {
	width: 58%;
	padding-left: 2%;
	text-align: left;
}

.main-new-text {
	width: 8%;
	color: #9e0000;
	text-align: right;
	padding-right: 2%;
	font-size: 0.7em;
	color: #9e0000;
}

.main-list-badge-div {
	width: 8%;
	text-align: right;
	margin-right: 2%;
}

.main-list-badge {
	text-align: center;
	font-size: 0.9em;
	color: yellow;
	height: 20px;
	width: 20px;
	-webkit-border-radius: 1.0em;
	border-radius: 1.5em;
	background: #343434;
}

/*etc */
.line-red {
	width: 424px;
	height: 8px;
	background: #9e0000;
	text-align: center;
	margin: 0px 8px !important;
}

.x-item-selected {
	border: 0px;
}

.x-msgbox {
	background-color: #efefef !important;
	border-color: #9E0000;
	color: #343434;
}

.x-innerhtml {
	font-size: 0.8em;
	font-family: "�섎닎怨좊뵓", "Helvetica Neue", HelveticaNeue, "Helvetica-Neue",
		Helvetica, "BBAlpha Sans", sans-serif;
	font-weight: normal;
}