.buttonCSS {
	background-color: transparent;
	background-size: 100% 100%;
	background-image: url(http://aux.iconpedia.net/uploads/1650319085.png);
	margin: 5px;
	width: 100px;
	height: 75px;
	border : 0px;
}


.icon-item {
	/*background: -webkit-gradient(linear, left top, left bottom, from(#820202), to(#b30606));
	*/
	background-image: url(../images/chosen.jpg);
	margin: 3px;
	width: 151px;
	height: 163px;
	float: left;
}

.icon-text-box{
	height : 45px;
	width : 151px;
	background : #222;
	opacity: 0.8;	
	position: relative;
	bottom: 51px;
	vertical-align : middle;
}

.icon-text {
	font-size: 1em;
	font-weight: bold;
	color : #fff;
	opacity: 1.0;	
	text-align: center;
	vertical-align: middle;
}