.articleListCSS .articleListImage {
	width: 100%;
	height: 200px;
}

.articleListCSS .articleListTitle {
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}

.articleListCSS .articleListSummary {
	text-align: center;
	font-size: 95%;
}

.newsList .x-list-item {
	border: 1px solid;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.realtimePanel {
	background-color: #9E0000;
	text-align: center;
	color: white;
}

.rankListCSS .x-list-item {
	background-color: #F7F7F7;
	height: 72px;
	text-align: center;
	line-height: 4em;
}

.rankListCSS .rankvalue {
	font-size: 80%;
}

.rankListCSS img {
	vertical-align: middle;
}

.articleListBadge {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 10px;
}