
/*Add Rss*/
.rss-list {
	width: 100%;
	border-top: 1px solid #343434;
}

.rss-item-img {
	margin: 8px;
	width: 135px;
	height: 92px;
	float: left;
	border: 1px solid #ebebeb;
}

.rss-text-box {
	height: 24px;
	width: 135px;
	background: #222;
	opacity: 0.7;
	position: relative;
	bottom: -66px;
	padding: 3px;
	font-size: 0.8em;
	color: #fff;
}

.rss-text-box-img {
	position: relative;
	bottom: 22px;
	padding: 3px;
	text-align: right;
}

/*rss add box*/
.rss-add-panel {
	background: #f0f0f0;
	height: 53px;
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
}

.rss-add-text {
	font-size: 0.8em;
	width: 80%;
	height: 37px;
	margin: 8px;
	-webkit-border-radius: 0.6em;
}

.rss-add-botton {
	width: 20%;
	height: 37px;
	margin-rigt: 8px;
	margin-top : 8px;
	margin-left : 8px;
	background-size: 37px 37px;
	background-image:
		url('../images/rss/ic_addrss.png');
}
